@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

.about-container {
    padding: 20px;
    margin: 0 4%;
}

.project-container {
    padding: 20px;
    margin: 0 4%;
}

.btn-grad {
    background-image: linear-gradient(
        to right,
        #2c3e50 0%,
        #3498db 51%,
        #2c3e50 100%
    );
    margin: 10px;
    padding: 14px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
    border-radius: 10px;
    display: block;
    width: fit-content;
    color: ghostwhite;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    /* color: #fff; */
    text-decoration: none;
}

.about-para::first-letter {
    font-size: 180%;
    font-weight: 450;
}

.about-para {
    font-size: large;
    color: "black";
}

.about-heading {
    font-size: 3rem;
    font-family: "Acme", sans-serif;
}

.caption {
    font-family: "Acme", sans-serif;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0);
    }
}

.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

.child {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.home-parent1 {
    background-color: #bee3f8;
    background-image: linear-gradient(
        45deg,
        #bee3f8 0%,
        #ffffff 46%,
        #bee3f8 100%
    );
}

.home-parent2 {
    background-color: #bee3f8;
    background-image: linear-gradient(
        135deg,
        #bee3f8 0%,
        #ffffff 46%,
        #bee3f8 100%
    );
}
